*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
